*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 512px;
  background-size: cover;
  overflow: hidden;
  transform-origin: 0 0;
  background: url(gfx/clouds.svg);
}

.butterfly {
  position: absolute;
  width: 64px;
  height: 64px;
  background: url(gfx/butterfly.svg) no-repeat;
  transform-style: preserve-3d;
}

.laser {
  position: absolute;
  width: 16px;
  height: 64px;
  background: url(gfx/laser.svg) no-repeat;
  transform-style: preserve-3d;
}
